### Scraping table of postal codes of Toronto

The code below import the libraries, scrape the data from Wikipedia and transform data in a Data Frame

In [170]:
import bs4 as bs
import urllib.request
import pandas as pd
import numpy as np

source = urllib.request.urlopen('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').read()
soup = bs.BeautifulSoup(source, 'lxml')
table = soup.find('table')
df = pd.read_html(str(table))
df2 = pd.DataFrame(df[0])
df2.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In this code, the data with the Borough is "Not Assigned" is dropped, the data with the same Post Code is grouped and the Borough name is given to unnamed Neighbourhood

In [167]:
#Dropped "Not Assigned" Borough
df2.drop(df2[df2['Borough']=="Not assigned"].index,axis=0, inplace=True)
#grouped same Postcode
df3=df2.groupby("Postcode").agg(lambda x:','.join(set(x))).reset_index()
#Rename the Neighbourhood
df3.loc[df3['Neighbourhood']=="Not assigned",'Neighbourhood']=df3.loc[df3['Neighbourhood']=="Not assigned",'Borough']
df3.shape

(103, 3)

In [172]:
df3.head(12)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                      Malvern,Rouge
1       M1C  Scarborough               Port Union,Rouge Hill,Highland Creek
2       M1E  Scarborough                    West Hill,Guildwood,Morningside
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough          Ionview,East Birchmount Park,Kennedy Park
7       M1L  Scarborough                      Oakridge,Clairlea,Golden Mile
8       M1M  Scarborough      Cliffcrest,Cliffside,Scarborough Village West
9       M1N  Scarborough                         Birch Cliff,Cliffside West
10      M1P  Scarborough  Scarborough Town Centre,Wexford Heights,Dorset...
11      M1R  Scarborough                                   Maryvale,Wexford